/* Footer CSS */

@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');


.Footer {
  background: #000;
  color: #fff;
  padding: 2rem 0;
  box-shadow: 0px 0px 100px 10px rgb(60, 1, 255);
}
.ft-1 {
  padding-top: 0.5rem;
}

.ft-1 span {
  color: red;
}
.ft-1 h3 {
  font-weight: 900;
  font-family: "Permanent Marker", cursive;
  letter-spacing: 1px;
}
.ft-1 p {
  font-weight: 500;
}
.footer-icons i {
  padding: 0.4rem 0.5rem;
  background: #dfdfdf;
  color: rgb(245, 45, 45);
  margin: 0 0.5rem;
  border-radius: 50%;
}

.footer-icons i:hover {
  background: rgb(245, 45, 45);
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.Footer h5 {
  color: rgb(245, 45, 45);
}

.ft-2 ul {
  list-style: none;
  padding-left: 0;
}
.ft-2 a {
  text-decoration: none;
  text-decoration: none;
  color: white;
}

.ft-2 ul li {
  padding: 0.5rem 0;
  color: #fefefe;
  font-weight: 500;
}

.ft-2 ul li :hover {
  padding: 0.5rem 0;
  color: rgb(245, 149, 5);
  font-weight: 500;
}

.ft-3 p {
  font-weight: 500;
  padding: 0.1rem 0;
  font-size: 1.1rem;
}
.ft-3 i {
  padding-right: 0.5rem;
}

/* Page not found css */

.page-not-found html {
  height: 100%;
}

.page-not-found body {
  height: 100%;
  background-size: cover;
  overflow: hidden;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.page-not-found .text h1 {
  color: #011718;
  margin-top: 150px;
  font-size: 15em;
  text-align: center;
  text-shadow: -5px 5px 0px rgba(0, 0, 0, 0.7),
    -10px 10px 0px rgba(0, 0, 0, 0.4), -15px 15px 0px rgba(0, 0, 0, 0.2);
  font-family: monospace;
  font-weight: bold;
}

.page-not-found .text h2 {
  color: black;
  font-size: 5em;
  text-shadow: -5px 5px 0px rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-top: 20px;
  font-family: monospace;
  font-weight: bold;
}
.page-not-found .text h3 {
  color: rgb(0, 0, 0);
  margin-left: 90px;
  font-size: 2em;
  margin-top: 20px;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
}
.page-not-found .torch {
  margin: -150px 0 0 -150px;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 0 9999em #0c0c0cee;
  opacity: 1;
  border-radius: 50%;
  position: fixed;
  background: rgba(0, 0, 0, 0.3);

  &:after {
    content: "";
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    box-shadow: inset 0 0 40px 2px #000, 0 0 20px 4px rgba(13, 13, 10, 0.2);
  }
}

.page-not-found {
  cursor: none;
  --cursorX: 50vw;
  --cursorY: 50vh;
}

/* contact us css */

.contact-us {
  background: black;
  height: 100%;
  width: 100%;
  padding: 1rem 2rem;
}
.contact-us .container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  align-content: center;
}
.contact-us .container .text-section{
  font-family: "Rubik Glitch", system-ui;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 50px;
  color: rgb(245, 45, 45);
}




