@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

/*nav bar css*/
.navbar{
    background: black;
}
.navbar .navbar-brand{
    font-family: "Permanent Marker", cursive;
    margin-left: 6rem;
    margin-right: 4rem;
    font-size: 40px;
}

.navbar .navbar-brand .brand-name-1{
    color: rgb(245, 45, 45);
}
.navbar .navbar-brand .brand-name-2{
    color: #fff;
}

.navbar .navbar-brand .brand-name-1:hover{
    color: #fff;
    transition: 0.4s;
}
.navbar .navbar-brand .brand-name-2:hover{
    color: rgb(245, 45, 45);
    transition: 0.4s;
}


.rounded-search-bar {
    border-radius: 20px; 
    width: 100vh;
}

.nav-item{
    margin-left: 2rem;
    margin-right: 1rem;
}
.nav-link{
   color: #fff;
}

.nav-link:hover{
    color: rgb(245, 45, 45);
 }

 .navbar-nav .active {
    color: red !important;
  }
